<div
  class="h-[240px] relative overflow-hidden"
  [style]="{
    'background-image': 'url(' + data.imgUrl + ')',
    'bacground-size': 'cover',
    'bacground-position': 'center'
  }"
>
  <div
    class="h-[540px] w-[240px] opacity-70 top-[-140px] left-[-50px] absolute bg-[var(--primary-red)]"
    style="transform: rotate(40deg)"
  ></div>
  <div class="flex flex-col opacity-70 text-[var(--primary-white)] p-[30px]">
    <span class="text-[24px] font-[600]"
      >{{ data?.title }} <br />
      Collection</span
    >
    <span class="small-font">SHOP NOW</span>
  </div>
</div>
