<div class="container flex gap-[30px] py-[30px]">
  <app-category-card
    class="w-1/3"
    [data]="collectionCardData[0]"
  ></app-category-card>
  <app-category-card
    class="w-1/3"
    [data]="collectionCardData[1]"
  ></app-category-card>
  <app-category-card
    class="w-1/3"
    [data]="collectionCardData[2]"
  ></app-category-card>
</div>
<app-new-products></app-new-products>
<div
  class="w-[100vw] h-[450px] my-[30px]"
  style="
    background-image: url('../../../assets/img/hotdeal.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div class="container">
    <div>
      <span>
        <span> 02 </span>
        DAYS
      </span>
      <span>
        <span> 10 </span>
        HOURS
      </span>
      <span>
        <span> 34 </span>
        MINS
      </span>
      <span>
        <span> 60 </span>
        SECS
      </span>
    </div>
    <span>HOT DEAL THIS WEEK</span>
    <span>NEW COLLECTION UP TO 50% OFF</span>
    <button class="button primary-button">SHOP NOW</button>
  </div>
</div>
