<div class="bg-[var(--secondary-black)]">
  <div
    class="flex justify-between container small-font text-[var(--primary-white)]"
  >
    <div class="flex gap-[10px]">
      <div class="flex items-center">
        <span>
          <mat-icon class="small-icon text-[var(--primary-red)] text-[16px]"
            >phone</mat-icon
          >
        </span>
        <span> +021-58-98-65 </span>
      </div>
      <div class="flex items-center">
        <span>
          <mat-icon class="small-icon text-[var(--primary-red)] text-[16px]"
            >email</mat-icon
          >
        </span>
        <span> email@email.com </span>
      </div>
      <div class="flex items-center">
        <span>
          <mat-icon class="small-icon text-[var(--primary-red)] text-[16px]">
            place</mat-icon
          >
        </span>
        <span> 1734 Stonecoal Road </span>
      </div>
    </div>
    <div class="flex gap-[10px]">
      <div class="flex items-center">
        <span>
          <mat-icon class="small-icon text-[var(--primary-red)] text-[16px]"
            >attach_money</mat-icon
          >
        </span>
        <span> USD </span>
      </div>
      <div class="flex items-center">
        <span>
          <mat-icon class="small-icon text-[var(--primary-red)] text-[16px]"
            >person</mat-icon
          >
        </span>
        <span>My Account</span>
      </div>
    </div>
  </div>
</div>
