:root {
  --secondary-black: #1e1f29;
  --primary-black: #000;
  --primary-white: #fff;
  --primary-red: #d10024;
  --border-color: #e4e7ed;
  --placeholder-color: #b9babc;
}

body {
  font-family: "Signika Negative", sans-serif;
}

.container {
  width: 1080px;
  margin: auto;
}

.small-font {
  font-size: 12px;
}

.medium-font {
  font-size: 14px;
}

.large-font {
  font-size: 18px;
}

.small-icon {
  margin-top: 12px;
}

.large-title {
  font-size: 20px;
  font-weight: 600;
}
