:root {
  --secondary-black: #1e1f29;
  --primary-black: #000;
  --primary-white: #fff;
  --primary-red: #d10024;
}

.container {
  width: 1080px;
  margin: auto;
}

.small-font {
  font-size: 12px;
}

.small-icon {
  margin-top: 12px;
}
